{% extends "base.html" %}
{% block title %}Запись{% endblock %}
{% block header %}Запись{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                {% include "author_card.html" with author=author %}
            </div>
            <div class="col-md-9">
                {% include "post_item.html" with post=post hide_add_comment=True %}
                {% include 'comments.html' %}
            </div>
        </div>
    </main>
{% endblock %}
